# PyCity Schools Analysis

- Your analysis here

---

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [4]:
# Calculate the total number of students
student_count = len(school_data_complete["student_name"])
student_count

39170

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [116]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary = pd.DataFrame()
district_summary["Unique Schools"] = school_data["school_name"].unique()
district_summary["Total Students"] = school_data["size"]
district_summary["Total Budget"] = school_data["budget"]

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

           Unique Schools Total Students   Total Budget
0       Huang High School          2,917  $1,910,635.00
1    Figueroa High School          2,949  $1,884,411.00
2     Shelton High School          1,761  $1,056,600.00
3   Hernandez High School          4,635  $3,022,020.00
4     Griffin High School          1,468    $917,500.00
5      Wilson High School          2,283  $1,319,574.00
6     Cabrera High School          1,858  $1,081,356.00
7      Bailey High School          4,976  $3,124,928.00
8      Holden High School            427    $248,087.00
9        Pena High School            962    $585,858.00
10     Wright High School          1,800  $1,049,400.00
11  Rodriguez High School          3,999  $2,547,363.00
12    Johnson High School          4,761  $3,094,650.00
13       Ford High School          2,739  $1,763,916.00
14     Thomas High School          1,635  $1,043,130.00

## School Summary

In [110]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [164]:
# Calculate the total student count per school from school_data
per_school_counts = school_data["size"]
per_school_counts

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [170]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data["budget"]
per_school_capita = school_data["budget"] / school_data["size"]

per_school_budget
per_school_capita

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [80]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data["school_name"].map(school_data_complete.groupby("school_name")["math_score"].mean())
per_school_reading = school_data["school_name"].map(school_data_complete.groupby("school_name")["reading_score"].mean())

per_school_math
per_school_reading

0     81.182722
1     81.158020
2     83.725724
3     80.934412
4     83.816757
5     83.989488
6     83.975780
7     81.033963
8     83.814988
9     84.044699
10    83.955000
11    80.744686
12    80.966394
13    80.746258
14    83.848930
Name: school_name, dtype: float64

In [88]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[school_data_complete["math_score"] > 70]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()

school_students_passing_math

school_name
Bailey High School       3216
Cabrera High School      1664
Figueroa High School     1880
Ford High School         1801
Griffin High School      1317
Hernandez High School    3001
Holden High School        387
Huang High School        1847
Johnson High School      3040
Pena High School          882
Rodriguez High School    2562
Shelton High School      1583
Thomas High School       1475
Wilson High School       2076
Wright High School       1625
dtype: int64

In [94]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete["reading_score"] > 70]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()

school_students_passing_reading

school_name
Bailey High School       3946
Cabrera High School      1744
Figueroa High School     2313
Ford High School         2123
Griffin High School      1371
Hernandez High School    3624
Holden High School        396
Huang High School        2299
Johnson High School      3727
Pena High School          887
Rodriguez High School    3109
Shelton High School      1631
Thomas High School       1519
Wilson High School       2129
Wright High School       1682
dtype: int64

In [96]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [152]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [178]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame()
per_school_summary["Unique Schools"] = school_data["school_name"]
per_school_summary["Total Students"] = per_school_counts
per_school_summary["Total School Budget"] = per_school_budget
per_school_summary["Per Student Budget"] = per_school_budget
per_school_summary["Average Math Score"] = per_school_math
per_school_summary["Average Reading Score"] = per_school_reading
per_school_summary["Passing Math Percentage"] = per_school_passing_math
per_school_summary["Passing Reading Percentage"] = per_school_passing_reading
per_school_summary["Passing Overall Percentage"] = overall_passing_rate


# Formatting
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,.2f}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Passing Math Percentage"] = per_school_summary["Passing Math Percentage"].map("{:,.2f}%".format)
per_school_summary["Passing Reading Percentage"] = per_school_summary["Passing Reading Percentage"].map("{:,.2f}%".format)
per_school_summary["Passing Overall Percentage"] = per_school_summary["Passing Overall Percentage"].map("{:,.2f}%".format)

# Display the DataFrame
per_school_summary

,Unique Schools,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Passing Overall Percentage
0,Huang High School,2917,"$1,910,635.00","$1,910,635.00",76.629414,81.182722,nan%,nan%,nan%
1,Figueroa High School,2949,"$1,884,411.00","$1,884,411.00",76.711767,81.158020,nan%,nan%,nan%
2,Shelton High School,1761,"$1,056,600.00","$1,056,600.00",83.359455,83.725724,nan%,nan%,nan%
3,Hernandez High School,4635,"$3,022,020.00","$3,022,020.00",77.289752,80.934412,nan%,nan%,nan%
4,Griffin High School,1468,"$917,500.00","$917,500.00",83.351499,83.816757,nan%,nan%,nan%
5,Wilson High School,2283,"$1,319,574.00","$1,319,574.00",83.274201,83.989488,nan%,nan%,nan%
6,Cabrera High School,1858,"$1,081,356.00","$1,081,356.00",83.061895,83.975780,nan%,nan%,nan%
7,Bailey High School,4976,"$3,124,928.00","$3,124,928.00",77.048432,81.033963,nan%,nan%,nan%
8,Holden High School,427,"$248,087.00","$248,087.00",83.803279,83.814988,nan%,nan%,nan%
9,Pena High School,962,"$585,858.00","$585,858.00",83.839917,84.044699,nan%,nan%,nan%
10,Wright High School,1800,"$1,049,400.00","$1,049,400.00",83.682222,83.955000,nan%,nan%,nan%
11,Rodriguez High School,3999,"$2,547,363.00","$2,547,363.00",76.842711,80.744686,nan%,nan%,nan%
12,Johnson High School,4761,"$3,094,650.00","$3,094,650.00",77.072464,80.966394,nan%,nan%,nan%
13,Ford High School,2739,"$1,763,916.00","$1,763,916.00",77.102592,80.746258,nan%,nan%,nan%
14,Thomas High School,1635,"$1,043,130.00","$1,043,130.00",83.418349,83.848930,nan%,nan%,nan%

## Highest-Performing Schools (by % Overall Passing)

In [142]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = school_data_complete.sort_values(by=["Passing Overall Percentage"])
top_schools.head(5)

KeyError: 'Passing Overall Percentage'

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores =
tenth_grader_math_scores =
eleventh_grader_math_scores =
twelfth_grader_math_scores =

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =
tenth_grader_reading_scores =
eleventh_grader_reading_scores =
twelfth_grader_reading_scores =

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade =

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary =

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] =

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary